<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing task for Automation Engineer (Java + Selenium / WebDriver) done by Leonid Artemiev">
	<parameter name="searchKeyWord" value="automation"/>
	<test name="Google the Keyword and Verify Title">
	  <classes>
			<class name="GoogleTest">
				<methods>
					<include name="TEST1_Search_For_Keyword_And_Verify_Title" />
				</methods>
			</class>
	  </classes>
	</test>
	<test name="Search for the expected domain">
		<parameter name="searchToPage" value="5"/>
		<parameter name="expectedDomain" value="testautomationday.com"/>
		<classes>
			<class name="GoogleTest">
				<methods>
					<include name="TEST2_Search_For_Expected_Domain" />
				</methods>
			</class>
		</classes>
	</test>
</suite>